.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 1px solid black;
    gap: 8px;
    padding: 16px;
    background-color: blue;
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    border-radius: 50%;
    background: lightyellow;
    cursor: pointer;
    position: relative;
  }

  .cell::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.25) -3px -3px 6px 1px inset;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }